body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
header {
	background-color: #312f2f;
	padding: 20px;
	border: 10px;
}
h1 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 35px;
	padding:15px;
	color: #e8de34;
	letter-spacing: 4.5px;
}
h2{
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1.5px;
	padding: 0 0 15px 0;
}

nav {
	background-color: #312f2f;
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 15px;
}
nav a {
  text-decoration: none;
  color: #fff;
  margin: 1.8em;
  display: inline-block;
}
#offerte{
	color: #e8de34;
	font-weight: 900;
}
footer {
	background-color: #e8de34;
	border: 20px #e8de34 solid;
	padding: 20px
}
div {
	background-image: url("../images/mountain.jpg");
	background-attachment: fixed;
	background-size: cover;
	padding: 100%;
	margin: 10em;
}

#bottone {
	text-decoration: none;
	color: #fff;
	font-weight: 900;
}
h3 {
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	font-weight: 900;

}
#two_column {
	background-color: #312f2f;
	padding: 20px;
}
#left {
	padding: 20px;
	float: left;
	width: 40%;
}
#right {
	padding: 20px;
	float: right;
	width: 40%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:"";
	clear: both;
	height: 0;
}