body {
	background: url("images/mountain.jpg");
	font-family: "Helvetica";
	font-style: italic;
	text-align: center;
	background-color: #fff;
	background-size: 100%;

}
hr {
	width: 700px;
	we
}

p{
	font-size: 25px;

}

li {
	font-size: 25px;

}